<div layout="column" layout-align="start start" class="md-padding md-whiteframe-z2">
    <p> Enter your information to determine the balance of power in the Middle East! </p>

    <div flex layout="row" layout-align="start start" layout-padding >
      <fieldset class="standard" layout="column" >
        <legend>Countries involved</legend>
        <div ng-repeat="c in countriesInvolved">
          <md-checkbox ng-model="c.use" >{{c.name}}</md-checkbox>
        </div>
      </fieldset>

      <fieldset class="standard" layout="column" >
        <legend>News Sources to Crawl</legend>
        <div ng-repeat="ns in news_sources">
          <md-checkbox ng-model="ns.use" >{{ns.name}}</md-checkbox>
        </div>
      </fieldset>

      <fieldset class="standard" layout="column" >
        <legend>Data</legend>
        <md-input-container flex >
          <label>Comments</label>
          <input ng-model="name">
        </md-input-container>
        <br/>
        <md-input-container flex>
          <label>Data to Plot </label>
          <md-select ng-model="data.type">
            <md-option value="Military"> Military</md-option>
            <md-option value="Resources"> Resources</md-option>
            <md-option value="Population"> Population</md-option>
            <md-option value="Ally Strength"> Ally Strength</md-option>
            <md-option value="Power Sum"> Power Sum</md-option>
          </md-select>
        </md-input-container>

      </fieldset>

    </div>

    <div flex >
      <md-button type="submit" ui-sref="core.power.results" class="md-raised md-primary">Submit</md-button>
    </div>

</div>
